.chart-container {
	width: 90vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  margin: 2.5% auto;
}

.chart {
	border: none;
  width: 100%;
  height: 100%;
}

.full-chart {
	padding: 1%
}
